.card {
  margin: 20px;
   width: 18rem; 
  border-radius: 0.75em;
  /*   box-shadow: 0 3px 3px #0001; */
    /* background-color: rgb(147, 207, 29); */
   /*  width: 73%; */
    backdrop-filter: blur(29px);
    background-color: rgba(255, 255, 255, 0.2);
    margin: auto;
}

.card-title {
  margin-bottom: 15px;
}

#closeIcon {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  margin-top: 8px;
}

.card-body {
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.city h1{
  padding: 0;
  margin: 7px 0px;
  text-align: center;
  font-size: 23pt;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: normal;
}