.cityCard{
    margin: 20px;
   width: 18rem; 
  border-radius: 0.75em;
  /*   box-shadow: 0 3px 3px #0001; */
    /* background-color: rgb(147, 207, 29); */
   /*  width: 73%; */
    backdrop-filter: blur(29px);
    background-color: rgba(255, 255, 255, 0.2);
    margin: auto;
    margin-top: 95px;
    padding: 13px;
}